# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
.env

# Django specific
db.sqlite3
staticfiles/
media/

# Docker
*.pid
*.seed
*.bak
*.swp
*~ 
*.tmp

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db


