# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# SQLite database
db.sqlite3

# Django static files (collected)
staticfiles/

# VS Code & system files
.vscode/
*.log
*.ini
.DS_Store

# Docker artifacts
*.dockerfile
*.tar
*.pid
